/*ヘッダー*/
header {
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
  font-family: Arial, sans-serif;
}

/*ヘッダー*/
header.h1 {
  font-size: 24px;
  color: white;
}

/*フッター*/
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #333;
  
  color: white;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  font-family: Arial, sans-serif;
}